name: Test 2025

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    run-rspec-tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up Go
              uses: actions/setup-go@v2
              with:
                  go-version: "1.23.4"
            - name: Run tests
              working-directory: ./solvers/2025
              run: go test ./...
